header {
    background-image: url(../pictures/header.png);
    height: 155px;
    text-align: center;
    line-height: 155px;
}

/* header img {
    width: 64px;
    height: auto;
    vertical-align: middle;
    display: inline-block;
} */

header h1 a {
    display: inline;
    vertical-align: middle;
}

header h1 a::before {
    content: url(../pictures/team_logo.png);
}