header {
    background-image: url(../pictures/header.png);
    text-align: center;
}

header h1 a {
    display: inline;
    vertical-align: middle;
}

header h1 a::before {
    content: '';
    display: inline-block;
    width: 64px;
    height: 66px;
    background-image: url(../pictures/team_logo.png);
    background-size: contain;
    vertical-align: middle;
}

nav {
    /* font-size: 0; */
    background-color: greenyellow;
}

nav ul {
    text-align: center;
}

nav li {
    display: inline;
    list-style: none;
}

#contents {
    text-align: center;
}

.photo {
    width: 100%;
    min-width: 300px;
    height: auto;
    object-fit: cover;
}

.text {
    line-height: 2;
}